<div class="container-fluid bg-3 text-center">    
  <div class="row">
		<% @member_accounts.each do |member_account| %>
    <div class="col-sm-3">
      <p><%= "#{member_account.first_name} #{member_account.last_name}" %>.</p>
      <a href="<%= member_account_path(member_account.id) %>"><img src="<%= polymorphic_url(member_account.picture) %>" class="img-responsive" style="width:100%" alt="Image"></a>
    </div>	
		
		<% end %>
  </div>
</div>
<br>
<% unless current_user.member_account %>
	<%= link_to 'New Member', new_member_account_path %>
<% end %>
